<!doctype html>
<html>
<head>
    {% block head %}
    <link rel="stylesheet" href="{{ STATIC_URL }}style.css" />
    <link rel="shortcut icon" href="{{ STATIC_URL }}favicon.ico" type="image/x-icon" />
    <script src="{{ STATIC_URL }}jquery-1.7.1.min.js"></script>

    <script src="{{ STATIC_URL }}scripts.js"></script>
    <meta charset="utf-8">
    <title>{% block title %}Demo{% endblock %}</title>
    {% endblock %}
</head>
<body>
    <div class="header">
        <div class="login">
        {% block login %}
            {% if user.is_authenticated %}
                Welcome, <a href="/account/">{{ user }}</a>. |
                {% if user.is_staff %}
                    <a href="/admin/">Admin Page</a> |
                {% endif %}
                <a href="/account/logout/">Log out</a>
            {% else %}
                <a href="/account/login/?next={{request.path}}">Log in</a> |
                <a href="/account/register/">Register</a>
            {% endif %}
        {% endblock %}
        </div>
        {% block header %}{% endblock %}
        {% block navbar %}
        <div id="navbar">
            <ul>
                <li><a href="/chem/">Home</a></li> |
                <li><a href="/chem/jobs/">Jobs</a></li> |
                <li><a href="/chem/upload/">Upload</a></li> |
                <li><a href="https://github.com/chris0076/chemtools-webapp">Code</a></li>
            </ul>
        </div>
        {% endblock %}
    </div>
    <div class="container">
        <div class="container2">
            {% block content %}
            {% endblock %}
        </div>
    </div>
</body>
<footer>
    {% block footer %}{% endblock %}
</footer>
</html>
