{% extends "account/settings.html" %}
{% load crispy_forms_tags %}

{% block settingsbody %}
<form action="." method="post">
    {% csrf_token %}

    <div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Creator</th>
                <th>Hostname</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            {% for cluster in clusters %}
            <tr>
                <td>{{ cluster.creator }}</td>
                <td>{{ cluster.full_hostname }}</td>
                <td>
                {% if cluster.creator == user %}
                    <div class="checkbox"><input class="delete" name="{{ cluster.get_long_name }}" type="checkbox"></div>
                {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>

    {{ form | crispy }}

    <div class="row">
        <div class="col-xs-4">
            <button class="btn btn-lg btn-success btn-block" name="save" type="submit">Save Cluster</button>
        </div>
        <div class="col-xs-4">
            <button class="btn btn-lg btn-danger btn-block" name="delete" type="submit">Delete Cluster</button>
        </div>
        <div class="col-xs-4">
            <button class="btn btn-lg btn-block" type="reset">Reset</button>
        </div>
    </div>
</form>
{% endblock %}

