{% extends "account/settings.html" %}
{% load crispy_forms_tags %}

{% block settingsbody %}
<div class="table-responsive">
<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Hostname</th>
        </tr>
    </thead>
    <tbody>
        {% for cluster in clusters %}
        <tr>
            <td>{{ cluster.name }}</td>
            <td>{{ cluster.full_hostname }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>

<hr>

<form action="." method="post">
    {% csrf_token %}
    {{ form | crispy }}
    <div class="row">
        <div class="col-xs-6">
            <button class="btn btn-lg btn-primary btn-block" type="submit">Add Cluster</button>
        </div>
        <div class="col-xs-6">
            <button class="btn btn-lg btn-block" type="reset">Reset</button>
        </div>
    </div>
</form>
{% endblock %}