{% extends "account/settings.html" %}
{% load crispy_forms_tags %}

{% block script %}
<script>
$(function() {
    setWarning = function () {
        if ($("#id_use_password").is(':checked')) {
            $("#id_warning").show();
        } else {
            $("#id_warning").hide();
        }
    };

    $("select#id_cluster").unbind("change"); // disable default from scripts.js

    $("#id_use_password").change(setWarning);
    setWarning();
})
</script>
{% endblock %}

{% block settingsbody %}
<form action="." method="post">
    {% csrf_token %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Cluster</th>
                <th>Username</th>
                <th>Use Password?</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for cred in user.credentials.all %}
            <tr class="{% if cred in working_creds %}success{% elif cred in failing_creds %}danger{% endif %}">
                <td>{{ cred.cluster }}</td>
                <td>{{ cred.username }}</td>
                <td>{{ cred.use_password }}</td>
                <td><div class="checkbox"><input name="{{ cred }}-{{ cred.id }}" type="checkbox"></div></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="row">
        <div class="col-xs-4">
            <button class="btn btn-lg btn-success btn-block" name="test" type="submit">Test Credentials</button>
        </div>
        <div class="col-xs-4">
            <button class="btn btn-lg btn-danger btn-block" name="delete" type="submit">Delete Credentials</button>
        </div>
        <div class="col-xs-4">
            <button class="btn btn-lg btn-block" type="reset">Reset</button>
        </div>
    </div>
</form>

<hr>

<form action="." method="post">
    {% csrf_token %}
    {{ form|crispy }}
    <div class="alert alert-warning" id="id_warning" style="display: none;"><strong>Warning!</strong> Using a password instead of the default SSH key is less secure!</div>
    <div class="row">
        <div class="col-xs-6">
            <button class="btn btn-lg btn-primary btn-block" type="submit">Add Credential</button>
        </div>
        <div class="col-xs-6">
            <button class="btn btn-lg btn-block" type="reset">Reset</button>
        </div>
    </div>
</form>
{% endblock %}