{% extends "cluster/base.html" %}

{% block title %}Job {{ job.0 }}{% endblock %}

{% block content %}
    {% if error_message %}
        <div class="alert alert-danger">{{ error_message }}</div>
    {% else %}
        {% for part in job %}
            {{ part }}<p>
        {% endfor %}
        {% if job.last != "C" %}
            <form action="/chem/jobs/{{ cluster }}/kill/"  method="post">
                {% csrf_token %}
                <input type="hidden" name={{ job.0 }} value="on" />
                <input class='btn btn-sm btn-danger btn-block' type="Submit" value="Kill" />
            </form>
        {% endif %}
    {% endif %}
    <a href="/chem/jobs/">Return to Jobs List</a>
{% endblock %}
