{% extends "cluster/base.html" %}

{% block title %}Job {{ job.0 }}{% endblock %}

{% block content %}
    {% if error_message %}
        <div class="alert alert-danger">{{ error_message }}</div>
    {% else %}
        {% for part in job %}
            {{ part }}<p>
        {% endfor %}
        {% if user.is_authenticated and job.6 != "C" %}
            <form action="kill/"  method="post">
                {% csrf_token %}
                <input type="Submit" value="Kill" />
            </form>
            <form action="reset/" method="post">
                {% csrf_token %}
                <input type="Submit" value="Reset" />
            </form>
        {% endif %}
    {% endif %}
    <a href="/chem/jobs/">Return to Jobs List</a>
{% endblock %}
