{% extends "cluster/base.html" %}

{% block title %}Jobs{% endblock %}

{% block script %}
<script>
$(function() {
    $.get('/chem/jobs/running.json', {"cluster": '{{ cluster }}', "html": true}, function(data) {
        var table = $("#id_jobs")
        table.append(data);
    });
    $(document).on(' change','input.check_all',function() {
        $(this).closest("form").find("input.idRow:enabled").prop("checked" , this.checked);
    });
})
</script>
{% endblock %}

{% block content %}
    <div id="id_jobs">
    </div>
    <p>
{% endblock %}
