* {
    margin:0;
    padding:0;
}
html, body {
    height: 100%; /* for sticky footer */
    position:absolute;/* Opera height trigger*/
    width:100%;
    background: #383838;
}
.header {
    height: 115px;
    width:100%;
    margin-bottom:-125px;
    background-color: #202020;
    position:relative;
    padding-bottom: 10px;
}
* html .header {
    width: 100%; /* Fallback width if javascript is off */
    width: auto;
}
.wrapper {
    min-height:100%; /* for sticky footer */
    background: #303030;
    margin:0 auto;
    width: 720px;

}
* html .wrapper {height:100%;} /*for ie6, same as min-height*/

.container {
    background-color: #303030;
    color: #BCBCBC;
    margin-right: auto;
    margin-left: auto;
    width: 720px;
}

#clearheader{height:125px; background:#303030} /*clear header without margins or padding*/
.header {
    background-color: #202020;
    text-align: center;
    color: #EEEEEE;
}

#clearfooter{clear:both; height:70px;} /*For a sticky footer*/
footer {
    width: 100%;
    background-color: #202020;
    height:50px;
    margin:-70px auto 0 auto; /*pull footer back into viewport and center*/

    background-color: #202020;
    text-align: center;
    color: #EEEEEE;
    font-size: 90%;
    padding-top: 20px;
}

/* *********************** */

h1,h2,h3,h4 {
    color: #EEEEEE;
    padding: 5px 0px 0px 0px;
    margin: 10px 0px 0px 0px;
}

h1 {
    font-size: 225%;
}

h2 {
    font-size: 175%;
}

h3 {
    font-size: 150%;
}
h4 {
    font-size: 100%;
}


p {
    padding: 0px 0px 10px 0px;
    margin: 5px 0px 15px 0px;
}

.container2 {
    margin-right: auto;
    margin-left: auto;
    width: 700px;
    padding: 10px 10px 10px 10px;
    height: 100%;
}

/* *********************** */

#navbar {
    width: 100%;
}

ul {
    list-style-type: none;
    margin: 10px 10px 25px 10px;
}

#navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

div#navbar li {
    display: inline;
}

div.login {
    text-align: right;
    padding-right: 10px;
    padding-top: 10px;
}


/* *********************** */
a,.ui-widget-content a {
    text-decoration:  none;
    color: #00AAAA;
}
a:visited {
    color: #006666;

}
a:hover {
    color: #00FFFF;
}

/* *********************** */

div.table-of-contents {
    background-color: #383838;
    border-radius: 4px;
    -moz-border-radius: 4px;
    margin: 20px 15px 20px 15px;
    padding: 5px 5px 5px 5px;
}

div.table-of-contents ul {
    list-style-type: none;
    margin: 0px 20px 10px 20px;
}
div.table-of-contents h2 {
    list-style-type: none;
    /*margin-bottom: 10px ;*/
}


/* *********************** */

table {
    border-collapse: collapse;
    width: 100%;
    padding: 10px;
}

tr, th, td {
    padding: 2.5px;
}

table.centered {
    text-align: center;
}

table.left-min {
    width: 0%;
}

/* *********************** */
tr#error {
    background-color: #B43030;
}

tr#warning {
    background-color: #252525;
}


div.hide-container {
    margin-top: 25px;
    margin-bottom: 10px;
}

pre {
    padding: 10px 10px 10px 10px;
    margin: 20px 15px 20px 15px;
    background-color: #383838;
    overflow: auto;
    overflow-y: hidden;
    border-radius: 4px;
    -moz-border-radius: 4px;
}

hr {
    border: 1;
    border-color: #383838;
    background-color: #202020;
    height: 2px;
    width: 50%;
    margin-bottom: 50px;
}


/* *********************** */

.modal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 15, 15, 15, .8 )
                url('/static/ajax-loader.gif')
                50% 50%
                no-repeat;
}


body.loading .modal {
    display: block;
}​

/* *********************** */