html {
    /*height: 100%;*/
}

body {
    background-color: #383838;
    margin: 0;
    padding: 0;
    /*height: 90%;*/
}

h1 {
    padding: 0px 0px 0px 10px;
}
h3 {
    padding: 0px 0px 0px 10px;
}

div.login {
    text-align: right;
}

.container {
    background-color: #303030;
    color: #DDDDDD;
    margin-right: auto;
    margin-left: auto;
    width: 720px;
    height: 100%;
}

.container2 {
    margin-right: auto;
    margin-left: auto;
    width: 720px;
    padding: 10px 0px 0px 0px;
}

.content {
    background-color: #404040;
    color: #DDDDDD;
    margin: 0px 20px 10px 20px;
    padding: 10px 10px 10px 10px;

    -moz-border-radius: 10px;
    border-radius: 10px;
}
.content:hover{
    background-color: #505050;
}

.text {
    background-color: #666;
    color: #DDDDDD;
    padding: 10px 10px 10px 10px;

    -moz-border-radius: 10px;
    border-radius: 10px;
}

.title {
    background-color: #2288FF;
    color: #DDDDDD;
    padding: 10px 10px 10px 10px;
    font-weight: bold;
    font-size: 120%;

    -moz-border-radius: 10px;
    border-radius: 10px;
}
a {
    text-decoration:  none;
    color: #00AAAA;
}
a:visited {
    color: #006666;

}
a:hover {
    color: #00FFFF;
}

.shadow {
    box-shadow: 3px 3px 4px #000;
}

footer {
    background-color: #202020;
    text-align: center;
    color: #DDDDDD;
    margin: 0;
    padding: 20px;
    height: 10%;
    font-size: 90%;
}

.header {
    background-color: #202020;
    text-align: center;
    color: #DDDDDD;
    margin: 0;
    padding: 20px;
    height: 10%;
}

#navbar {
    width: 100%;
}

ul {
    list-style-type: none;
}

#navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

div#navbar li {
    display: inline;
}


table {
    border-collapse: collapse;
    width: 100%;
}

table.centered {
    text-align: center;
}

tr#error {
    background-color: #B43030;
}

tr#warning {
    background-color: #252525;
}

table.left-min {
    width: 0%;
}