.ajax-modal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 2, 2, 2, .5 )
                50% 50%
                no-repeat;
}

.table thead div.checkbox {
    margin-bottom: 0px;
}
.table thead div.checkbox label {
    font-weight: bold;
}

.navbar {
    border-radius: 0px;
}