{% extends "chem/base.html" %}

{% block content %}
    <h1>{{ molecule }}</h1>
    {% if known_errors %}
        <h2>WARNING</h2>
        This molecule is reported to have errors.<br />
    {% endif %}
    {% if error_message %}
        <p><strong>{{ error_message }}</strong></p>
    {% else %}
        <img src="../{{ molecule }}.png?scale=10"></img>
        <ul>
            <li><a href="../{{ molecule }}.gjf?{{basis}}">gjf File</a></li>
            <li><a href="../{{ molecule }}.mol2?{{basis}}">mol2 File</a></li>
            <li><a href="job/?{{basis}}">Job File</a></li>
        </ul>
    {% endif %}
    <a href="report">Report Me!</a>
{% endblock %}
