{% extends "chem/base.html" %}

{% block title %}{{ molecule }}{% endblock %}

{% block content %}
    <h1>{{ molecule }}</h1>
    <a href="report">Report Me</a><br><br>
    {% if known_errors %}
        <h2>WARNING</h2>
        This molecule is reported to have errors.<br />
    {% endif %}
    {% if error_message %}
        <p><strong>{{ error_message }}</strong></p>
    {% else %}
        <img src="../{{ molecule }}.png"></img>
        <ul>
            <li><a href="../{{ molecule }}.gjf{{ encoded_basis }}">gjf File</a></li>
            <li><a href="../{{ molecule }}.mol2{{ encoded_basis }}">mol2 File</a></li>
        </ul>
    <div class="hide-container">
    <div class="hide-title">
        <a>Job Form</a>
    </div>
    <div class="hide">
        <form action="." method="get">
            <table>
                {{ form.as_table }}
            </table>
            {% if basis %}<input type="hidden" name="basis" value="{{ basis }}">{% endif %}
            <table>
                <tr><th>
                    {% if user.is_authenticated %}
                        {% csrf_token %}
                        <input type="submit" value="Submit Job" formmethod="post" formaction="."/>
                    {% endif %}
                    <input type="submit" value="Get Job File" />
                    <input type="reset" value="Reset" />
                </th></tr>
            </table>
        </form>
    </div>
    </div>
    {% endif %}
{% endblock %}
