{% extends "chem/base.html" %}

{% block title %}Chemtools{% endblock %}

{% block content %}
    <h2>
        Welcome to the Chemtools-Webapp!
    </h2>
    <p>
        <ul>
            <li>To make a molecule or set a molecules, enter their name(s) in the form below.</li>
            <li>To extract data from log files or to do other file operations click the <a href="upload">Upload</a> link.</li>
            <li>For more information refer to the <a href="docs">documentation</a>.</li>
            {% if user.is_authenticated %}
                <li>Change your <a href="/u/{{ user }}">account</a> information.</li>
            {% else %}
                <li><a href="/register">Register an account.</a></li>
            {% endif %}
        </ul>
    </p>
    <table class="left-min">
        <tr>
            <th>
                Molecule name
            </th>
            <th>
                Basis
            </th>
            <th></th>
        </tr>
        <form enctype="multipart/form-data" action="/chem" method="get">
        <tr>
            <td>
                <input size=35 type="text" name="molecule">
            </td>
            <td>
                <input type="text" name="basis" value="B3LYP/6-31g(d)">
            <td>
                <input type="submit" value="Submit" />
            </td>
        </tr>
        </form>
    </table>
{% endblock %}