{% extends "chem/base.html" %}

{% block content %}
    <table>
    <tr>
        <th>Job ID</th>
        <th>Site</th>
        <th>Name</th>
        <th>Nodes</th>
        <th>ncpus</th>
        <th>Wall Time</th>
        <th>Status</th>
        <th>Running Time</th>
    </tr>
    {% for job in jobs %}
        <tr>
            {% for part in job %}
                {% if forloop.counter0 == 0 %}
                    <td><a href="{{ part }}">{{ part }}</a></td>
                {% else %}
                    <td>{{ part }}</td>
                {% endif %}
            {% endfor %}
            {% if user.is_authenticated %}
            <td>
                <form action='{{ job.0 }}/kill/' method="post">
                    {% csrf_token %}
                    <input type="submit" value="Kill" />
                </form>
            </td>
            {% endif %}
        </tr>
    {% endfor %}
    </table>
    <p>
{% endblock %}
