{% extends "chem/base.html" %}

{% block title %}Jobs{% endblock %}

{% block script %}
<script>
$(function() {
    $.getJSON('/chem/jobs.json', function(data) {
        var table = $("#id_jobs")
        var output = '';
        for (i = 0; i < data.jobs.length; i++ ) {
            output += "<tr>"
            for (j = 0; j < data.jobs[i].length; j++ ) {
                var cell = data.jobs[i][j];
                if (j == 0) {
                    output += "<td><a href=\'{0}\'>{0}</td>".format(cell);
                } else {
                    output += "<td>{0}</td>".format(cell);
                }
            }
            if (data.is_authenticated && data.jobs[i][6] != "C") {
                output += "<td><form action='"
                output += data.jobs[i][0] + "/kill/' method='post'>"
                output += "{% csrf_token %}";
                output += "<input type='submit' value='Kill' /></form></td>"
            }
            output += "</tr>"
        }
        table.append(output);
    });
})
</script>
{% endblock %}

{% block content %}
    <table class="table table-striped" id="id_jobs">
    <tr>
        <th>Job ID</th>
        <th>Site</th>
        <th>Name</th>
        <th>Nodes</th>
        <th>ncpus</th>
        <th>Wall Time</th>
        <th>Status</th>
        <th>Running Time</th>
    </tr>
    </table>
    <p>
{% endblock %}
