{% extends "chem/base.html" %}
{% load bootstrap %}

{% block title %}{{ molecule }}{% endblock %}

{% block script %}
<script>
{% autoescape on %}

$(function() {
    $("#id_post").click(function() {
        event.preventDefault();
        var a = $('#newform').serialize();

        $.post('', a, function(data) {
            var text = '';
            if (data["error"] !== null ) {
                text = data["error"];
            } else {
                text = "Your job id is <a href='/chem/jobs/{0}/'>{0}.</a>".format(data["jobid"]);
            }
            var dialog = $(".modal-body");
            dialog.html(text);
            },
            'json'
            );
        }
    );
});
{% endautoescape %}
</script>
{% endblock %}

{% block content %}
    <h1>{{ molecule }}</h1>
    <a href="report">Report Me</a><br><br>
    {% if known_errors %}
        <div class="alert alert-warning">This molecule is reported to have errors.</div>
    {% endif %}
    {% if error_message %}
        <div class="alert alert-danger">{{ error_message }}</div>
    {% else %}
    <div class="col-lg-5 text-center">
        <img src="../{{ molecule }}.png" alt="{{ molecule }}"></img>
    </div>
    <hr>
    <div class="list-group">
        <a class="list-group-item" href="../{{ molecule }}.gjf{{ encoded_keywords }}">{{ molecule }}.gjf</a>
        <a class="list-group-item" href="../{{ molecule }}.mol2">{{ molecule }}.mol2</a>
        <a class="list-group-item collapse-data-btn" data-toggle="collapse" href="#details">Job Form</a>
    </div>

    <div id="details" class="{% if form.errors %}in{% else %}collapse{% endif %}">
        <form id="newform" action="." method="get">
            {{ form|bootstrap }}
            {% if keywords %}<input type="hidden" name="keywords" value="{{ keywords }}">{% endif %}
            <div class="row">
                {% if user.is_authenticated %}
                <div class="col-xs-4">
                    {% csrf_token %}
                    <a data-toggle="modal" id="id_post" href="#myModal" class="btn btn-lg btn-primary btn-block">Submit Job</a>
                </div>
                {% endif %}
                <div class="col-xs-4">
                    <button class="btn btn-lg btn-primary btn-block" type="submit">Get Job</button>
                </div>
                <div class="col-xs-4">
                    <button class="btn btn-lg btn-block" type="reset">Reset</button>
                </div>
            </div>
        </form>
    </div>

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Results</h4>
                </div>
                <div class="modal-body">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
{% endblock %}
