{% extends "chem/base.html" %}
{% load bootstrap %}

{% block title %}{{ molecule }}{% endblock %}

{% block script %}
<script>
{% autoescape on %}

$(function() {
    $("#id_post").click(function() {
        event.preventDefault();
        var a = $('#newform').serialize();

        $.post('', a, function(data) {
            var text = '';
            if (data["error"] !== null ) {
                text = data["error"];
            } else {
                text = "Your job id is <a href='/chem/jobs/{0}/'>{0}.</a>".format(data["jobid"]);
            }
            var newdialog = $('<div id="id_results">{0}</div>'.format(text));
            newdialog.dialog({
                title: "Results",
                modal: true,
                });
            },
            'json'
            );
        }
    );
});
{% endautoescape %}
</script>
{% endblock %}

{% block content %}
    <h1>{{ molecule }}</h1>
    <a href="report">Report Me</a><br><br>
    {% if known_errors %}
        <div class="alert alert-warning">This molecule is reported to have errors.</div>
    {% endif %}
    {% if error_message %}
        <div class="alert alert-danger">{{ error_message }}</div>
    {% else %}
    <div class="col-lg-5 text-center">
        <img src="../{{ molecule }}.png" alt="{{ molecule }}"></img>
    </div>
    <hr>
    <div class="list-group">
        <a class="list-group-item" href="../{{ molecule }}.gjf{{ encoded_keywords }}">{{ molecule }}.gjf</a>
        <a class="list-group-item" href="../{{ molecule }}.mol2">{{ molecule }}.mol2</a>
        <a class="list-group-item collapse-data-btn" data-toggle="collapse" href="#details">Job Form</a>
    </div>

    <div id="details" class="collapse">
        <form id="newform" action="." method="get">
            {{ form|bootstrap }}
            {% if keywords %}<input type="hidden" name="keywords" value="{{ keywords }}">{% endif %}
            <div class="row">
                {% if user.is_authenticated %}
                <div class="col-xs-4">
                    {% csrf_token %}
                    <button class="btn btn-lg btn-primary btn-block" type="submit" id="id_post">Submit Job</button>
                </div>
                {% endif %}
                <div class="col-xs-4">
                    <button class="btn btn-lg btn-primary btn-block" type="submit">Get Job</button>
                </div>
                <div class="col-xs-4">
                    <button class="btn btn-lg btn-block" type="reset">Reset</button>
                </div>
            </div>
        </form>
    </div>
    {% endif %}
{% endblock %}
