{% extends "chem/base.html" %}
{% load crispy_forms_tags %}

{% block title %}{{ molecule }}{% endblock %}

{% block content %}
    <h1>{{ molecule }}</h1>
    <a href="report">Report Me</a><br><br>
    {% if known_errors %}
        <div class="alert alert-warning">This molecule is reported to have errors.</div>
    {% endif %}
    {% if error_message %}
        <div class="alert alert-danger">{{ error_message }}</div>
    {% else %}
    <div class="col-lg text-center">
        <img src="../{{ molecule }}.png" alt="{{ molecule }}"></img>
    </div>
    <hr>
    <table class="table">
        <tr>
            <th>Exact Name</th>
            <td>{{ exact_name }}</td>
        </tr>
        <tr>
            <th>Exact Name (with spacers)</th>
            <td>{{ exact_name_spacers }}</td>
        </tr>
    </table>

    <a class="btn collapse-data-btn collapsed" data-toggle="collapse" href="#features">Feature Vectors</a>
    <table id="features" class="table collapse">
        {% for feature in features %}
        <tr>
            <th>{{ forloop.counter }}</th>
            <td>{{ feature }}</td>
        </tr>
        {% endfor %}
    </table>

    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th>HOMO (eV)</th>
                <th>LUMO (eV)</th>
                <th>Band Gap (eV)</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>Predicted</th>
                <td>{{ homo|floatformat:2 }} (± 0.09)</td>
                <td>{{ lumo|floatformat:2 }} (± 0.08)</td>
                <td>{{ band_gap|floatformat:2 }} (± 0.10)</td>
            </tr>
            {% if datapoint %}
            <tr>
                <th>Calculated</th>
                <td>{{ datapoint.homo|floatformat:2 }}</td>
                <td>{{ datapoint.lumo|floatformat:2 }}</td>
                <td>{{ datapoint.band_gap|floatformat:2 }}</td>
            </tr>
            <tr>
                <th>Calculation Options</th>
                <td class="text-center" colspan="3">{{ datapoint.options }}</td>
            </tr>
            {% endif %}
            {% for direction, values in limits.items %}
            <tr>
                <th>Predicted {{ direction }} Limit</th>
                {% for value in values %}
                    <td>{{ value|floatformat:2 }}</td>
                {% endfor %}
            {% endfor %}
            </tr>
        </tbody>
    </table>
    <hr>
    <div class="list-group">
        <a class="list-group-item collapse-data-btn" data-toggle="collapse" href="#mol_details">Molecule Form <b class="caret"></b></a>
        <div id="mol_details" class="{% if mol_form.errors %}in{% else %}collapse{% endif %}">
            <form id="id_mol_form">
                <div id="id_form_input2">
                    {{ mol_form|crispy }}
                </div>
            </form>
        </div>
        <a class="list-group-item collapse-data-btn" data-toggle="collapse" href="#details">Job Form <b class="caret"></b></a>
        <div id="details" class="{% if form.errors %}in{% else %}collapse{% endif %}">
            <form id="id_job_form" action="." method="get">
                <div id="id_form_input">
                    {{ job_form|crispy }}
                </div>
                <input type="hidden" id="id_molname" name="molname" value="">
                <div class="row">
                    <div class="col-xs-4">
                        <button class="btn btn-lg btn-primary btn-block" type="submit">Get Job</button>
                    </div>
                    {% if user.is_authenticated %}
                    <div class="col-xs-4">
                        {% csrf_token %}
                        <a id="id_post" class="btn btn-lg btn-primary btn-block">Submit Job</a>
                    </div>
                    {% endif %}
                    <div class="col-xs-4">
                        <button class="btn btn-lg btn-block" type="reset">Reset</button>
                    </div>
                </div>
            </form>
        </div>
        <a class="list-group-item" href="../{{ molecule }}.gjf">{{ molecule }}.gjf</a>
        <a class="list-group-item" href="../{{ molecule }}.mol2">{{ molecule }}.mol2</a>
    </div>


    <div class="modal fade" id="resultsModal" tabindex="-1" role="dialog" aria-labelledby="resultsModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Results</h4>
                </div>
                <div class="modal-body">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
{% endblock %}
