{% extends "chem/base.html" %}

{% block title %}{{ pagename }}{% endblock %}

{% block header %}
{{ block.super }}
<script>
{% autoescape on %}
function submitForm(name) {
    $("form input#id_molname").val(name);
    $("form#newform").submit();
}

$(function() {
    $("#id_post").click(function() {
        event.preventDefault();
        var a = $('#newform').serialize();
        $.post('', a, function(data) {
            var text = '<ul>Worked:';
            for (var i = 0; i < data["worked"].length; i++) {
                var name = data["worked"][i][0];
                var id = data["worked"][i][1];
                text += "<li>" + name + " -- <a href='/chem/jobs/" + id + "'>" + id + "</a></li>";
            }
            text += "</ul>";
            if (data["failed"].length > 0) {
                text += "<ul>Failed:";
                for (var i = 0; i < data["failed"].length; i++) {
                    text += "<li>" + data["failed"][i][0] + " -- " + data["failed"][i][1] + "</li>";
                }
                text += "</ul>"
            }

            var newdialog = $('<div id="id_results">' + text + '</div>');
            newdialog.dialog({
                modal: true,
                title: "Results",
                });
            },
            'json'
            );
        }
    );

    $("#id_zip_download").click(function() {
        event.preventDefault();
        var a = $('#headerform').serialize();
        if ($('#id_job').val() === 'on'){
            a += '&' + $('#newform').serialize()
        }
        window.location = "/chem/{{ pagename }}.zip?" + a;
    })

});
{% endautoescape %}
</script>
{% endblock %}

{% block content %}
    <h1>{{ pagename }}</h1>
    <table class="centered">
        <tr>
            <form id="headerform">
            <th>Name</th>
            <th>
                <input type="checkbox" id="id_gjf" name="gjf" {{ gjf }}/>
                <label for="id_gjf">gjf</label>
            </th>
            <th>
                <input type="checkbox" id="id_mol2" name="mol2" {{ mol2 }}/>
                <label for="id_mol2">mol2</label>
            </th>
            <th><input type="checkbox" id="id_image" name="image" {{ image }}/>
                <label for="id_image">Image</label>
            </th>
            <th>
                <input type="checkbox" id="id_job" name="job" {{ job }}/>
                <label for="id_job">Job</label>
            </th>
            <th></th>
            </form>
        </tr>
    {% for molecule, error, warning in molecules %}
        <tr {% if error %}id="error"{% elif warning %}id="warning"{% endif %}>
            <td>{{ molecule }}</td>
            {% if not error %}
                <td><a href="../{{ molecule }}.gjf{{ basis }}">gjf</a></td>
                <td><a href="../{{ molecule }}.mol2{{ basis }}">mol2</a></td>
                <td><a href="../{{ molecule }}.png">Image</a></td>
                <td><a href='#' onClick="submitForm('{{ molecule }}')">Job</a></td>
                <td><a href="../{{ molecule }}/report/">Report</a></td>
            {% else %}
                <td colspan='4'>{{ error }}</td>
                <td><a href="../{{ molecule }}/report/">Report</a></td>
            {% endif %}
        </tr>
    {% endfor %}
    </table>
    <div class="hide-container">
    <div class="hide-title">
        <a href="#">Job Form</a>
    </div>
    <div class="hide">
        <form id="newform" action="." method="get">
            <table>
                {{ form.as_table }}
            </table>
            {% if basis %}<input type="hidden" name="basis" value="{{ basis }}">{% endif %}
            <input type="hidden" id="id_molname" name="molname" value="">
            <table>
                <tr><th>
                    {% if user.is_authenticated %}
                        {% csrf_token %}
                        <input type="submit" value="Submit Job" id="id_post"/>
                    {% endif %}
                    <input type="reset" value="Reset" />
                </th></tr>
            </table>
        </form>
    </div>
    </div>
    <a href='../{{ pagename }}.zip' id="id_zip_download">Download All</a>
{% endblock %}