{% extends "chem/base.html" %}

{% block header %}
{{ block.super }}
<script>
{% autoescape on %}
function submitForm(name){
    $("form input#id_molname").val(name);
    $("form#newform").submit();
}
{% endautoescape %}
</script>
{% endblock %}

{% block content %}
    <h1>{{ pagename }}</h1>
    <table class="centered">
        <tr>
            <th>Name</th>
            <th>gjf</th>
            <th>mol2</th>
            <th>Image</th>
            <th>Job</th>
            <th></th>
        </tr>
    {% for molecule, error, warning in molecules %}
        <tr {% if error %}id="error"{% elif warning %}id="warning"{% endif %}>
            <td>{{ molecule }}</td>
            {% if not error %}
                <td><a href="../{{ molecule }}.gjf{{ basis }}">gjf</a></td>
                <td><a href="../{{ molecule }}.mol2{{ basis }}">mol2</a></td>
                <td><a href="../{{ molecule }}.png">Image</a></td>
                <td><a onClick="submitForm('{{ molecule }}')">Job</a></td>
                <td><a href="../{{ molecule }}/report/">Report</a></td>
            {% else %}
                <td colspan='4'>{{ error }}</td>
                <td><a href="../{{ molecule }}/report/">Report</a></td>
            {% endif %}
        </tr>
    {% endfor %}
    </table>
    <div class="hide-title">
        Job Form
    </div>
    <div class="hide">
        <form id="newform" action="." method="get">
            <table>
                {{ form.as_table }}
            </table>
            {% if basis %}<input type="hidden" name="basis" value="{{ basis }}">{% endif %}
            <input type="hidden" id="id_molname" name="molname" value="">
            <table>
                <tr><th>
                    {% if user.is_authenticated %}
                        {% csrf_token %}
                        <input type="submit" value="Submit Job" formmethod="post" formaction="."/>
                    {% endif %}
                    <input type="reset" value="Reset" />
                </th></tr>
            </table>
        </form>
    </div>
    <a href='../{{ pagename }}.zip'>Download All</a>
{% endblock %}