{% extends "chem/base.html" %}
{% load crispy_forms_tags %}
{% load url from future %}

{% block title %}{{ pagename }}{% endblock %}

{% block script %}
<script>
{% autoescape on %}
function submitForm(name) {
    $("form input#id_molname").val(name);
    $("form#id_job_form").submit();
}

$(function() {
    $("#id_zip_download").click(function() {
        var data = $('#headerform').serialize();
        if ($('#id_job').is(':checked')) {
            data += '&' + $('#id_job_form').serialize();
        }
        if ($("#id_new").is(':checked')) {
            data += '&new=on';
        }
        data += '&' + $('#id_mol_form').serialize();

        var val = $(this).attr('href');
        var idx = val.indexOf('?')
        if (idx === -1) {
            $(this).attr('href', val + '?' + data);
        } else {
            val = val.slice(0, idx);
            $(this).attr('href', val + '?' + data);
        }
    });

    $("#id_new").change(function () {
            $.each($("table tbody tr"), function(idx, value) {
                var on = $("#id_new").is(':checked');
                if (!$(value).data()["new"]) {
                    on ? $(value).hide() : $(value).show()
                }
            });
        }
    );

    $.get('{% url "molecule_check" pagename %}', {"new": "{{ new }}", "html": true}, function(data) {
        var table = $("table.table");
        html = table.html();
        html += data;
        table.html(html);
        $('.delayimage').click(function() {
            img = $($(this).find("img"));
            if (!img.attr('src')) {
                img.attr('src', img.attr('data-src'));
            }
        });
        $("table.table .mol_setting").click( function () {
            var data = $('#id_mol_form').serialize();
            var val = $(this).attr('href');
            var idx = val.indexOf('?')
            if (idx === -1) {
                $(this).attr('href', val + '?' + data);
            } else {
                val = val.slice(0, idx);
                $(this).attr('href', val + '?' + data);
            }
        });
    });
});
{% endautoescape %}
</script>
{% endblock %}

{% block content %}
{% if error %}
<h1>{{ error }}</h1>
{% else %}
<h1>{{ pagename }}</h1>


<div class="container">
    <div class="checkbox">
        <input type="checkbox" id="id_new" name="new" />
        <label for="id_new">Only Show New Structures</label>
    </div>
    <div class="list-group">
        <a class="list-group-item collapse-data-btn" data-toggle="collapse" href="#mol_details">Molecule Form <b class="caret"></b></a>
        <div id="mol_details" class="{% if mol_form.errors %}in{% else %}collapse{% endif %}">
            <form id="id_mol_form">
                <div id="id_form_input2">
                    {{ mol_form|crispy }}
                </div>
            </form>
        </div>
        <a class="list-group-item collapse-data-btn" data-toggle="collapse" href="#job_details">Job Form <b class="caret"></b></a>

        <div id="job_details" class="{% if job_form.errors %}in{% else %}collapse{% endif %}">
            <form id="id_job_form" action="." method="get">
                <div id="id_form_input">
                    {{ job_form|crispy }}
                </div>
                <input type="hidden" id="id_molname" name="molname" value="">
                <div class="row">
                    {% if user.is_authenticated %}
                    <div class="col-xs-6">
                        {% csrf_token %}
                        <a id="id_post" class="btn btn-lg btn-primary btn-block">Submit Jobs</a>
                    </div>
                    {% endif %}
                    <div class="col-xs-{% if user.is_authenticated %}6{% else %}12{% endif %}">
                        <button class="btn btn-lg btn-block" type="reset">Reset</button>
                    </div>
                </div>
            </form>
        </div>
        <a class="list-group-item collapse-data-btn"  href='/chem/{{ pagename }}.zip' id="id_zip_download">Download All</a>
    </div>
</div>

<form id="headerform">
    <div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>
                    <div class="checkbox">
                        <input type="checkbox" id="id_gjf" name="gjf" {{ gjf }}/>
                        <label for="id_gjf">gjf</label>
                    </div>
                </th>
                <th>
                    <div class="checkbox">
                        <input type="checkbox" id="id_mol2" name="mol2" {{ mol2 }}/>
                        <label for="id_mol2">mol2</label>
                    </div>
                </th>
                <th>
                    <div class="checkbox">
                        <input type="checkbox" id="id_image" name="image" {{ image }}/>
                        <label for="id_image">Image</label>
                    </div>
                </th>
                <th>
                    <div class="checkbox">
                        <input type="checkbox" id="id_job" name="job" {{ job }}/>
                        <label for="id_job">Job</label>
                    </div>
                </th>
                <th>Report</th>
            </tr>
        </thead>
    </table>
    </div>
</form>

<div class="container">
    <div class="list-group">
        <a class="list-group-item collapse-data-btn text-center" href="#">To Top of Page</a>
    </div>
</div>

<div class="modal fade" id="resultsModal" tabindex="-1" role="dialog" aria-labelledby="resultsModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Results</h4>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

{% endif %}
{% endblock %}