{% extends "chem/base.html" %}
{% load bootstrap %}

{% block title %}Multi Job{% endblock %}

{% block script %}
<script>
{% autoescape on %}

$(function() {
    $("input[name='myfiles']").change( function () {
        var files = $(this).prop('files');
        var textarea = $("textarea[name='filenames']");
        var names = ''
        $(files).each( function (i, elem) {
            names += '\n' + elem.name;
        });
        if (textarea.val() !== '') {
            textarea.val(textarea.val()+names);
        } else {
            textarea.val(names.slice(1));
        }
    });
});
{% endautoescape %}
</script>
{% endblock %}

{% block content %}
    <p>
        Filenames can be separated by newlines or by commas. File extensions do not matter because they will be stripped off before the job file is made. This method also allows generating jobs using brace expansions as seen in the <a href="{% url docs %}#brace-expansion">docs</a>.
    </p>
    {% if error_message %}
        <p><strong>{{ error_message }}</strong></p>
    {% endif %}

    <div class="form-group">
        <label class="control-label" for="id_myfiles">Upload Files</label>
        <input type="file" id="id_myfiles" name="myfiles" multiple />
    </div>
    <form enctype="multipart/form-data" action="." method="post">
        {% csrf_token %}
        <div class="form-group">
            <label class="control-label" for="id_filenames">Filenames</label>
            <div class="">
                <textarea id="id_filenames" rows="26" cols="50" name="filenames" class=" form-control"></textarea>
            </div>
        </div>
        {{ form|bootstrap }}
        <div class="row">
            <div class="col-xs-6">
                <button class="btn btn-lg btn-primary btn-block" type="submit">Build!</button>
            </div>
            <div class="col-xs-6">
                <button class="btn btn-lg btn-block" type="reset">Reset</button>
            </div>
        </div>
    </form>
{% endblock %}