{% extends "chem/base.html" %}

{% block title %}Multi Job{% endblock %}

{% block header %}
{{ block.super }}
<script>
{% autoescape on %}

$(function() {
    $("input[name='myfiles']").change( function () {
        var files = $(this).prop('files');
        var textarea = $("textarea[name='filenames']");
        var names = ''
        $(files).each( function (i, elem) {
            names += '\n' + elem.name;
        });
        if (textarea.val() !== '') {
            textarea.val(textarea.val()+names);
        } else {
            textarea.val(names.slice(1));
        }
    });
});
{% endautoescape %}
</script>
{% endblock %}

{% block content %}
    <p>
        Filenames can be separated by newlines or by commas. File extensions do not matter because they will be stripped off before the job file is made. This method also allows generating jobs using brace expansions as seen in the <a href="{% url docs %}#brace-expansion">docs</a>.
    </p>
    {% if error_message %}
        <p><strong>{{ error_message }}</strong></p>
    {% endif %}
    <table>
    <tr><th></th><td><input type="file" name="myfiles" multiple /></td></tr>
    <form enctype="multipart/form-data" action="." method="post">
        {% csrf_token %}
            <tr><th>Filenames:</th><td><textarea rows="10" cols="30" name="filenames"></textarea></textarea></tr></td>
                {{ form.as_table }}
            <tr><th></th><td>
                <input type="submit" value="Submit" />
                <input type="reset" value="Reset" />
            </tr></td>
    </form>
    </table>
{% endblock %}