{% extends "chem/base.html" %}
{% load crispy_forms_tags %}
{% load url from future %}

{% block title %}Multi Job{% endblock %}

{% block script %}
<script>
{% autoescape on %}

$(function() {
    $("#id_myfiles").change( function () {
        var files = $(this).prop('files');
        var textarea = $("textarea[name='filenames']");
        var names = ''
        $(files).each( function (i, elem) {
            names += '\n' + elem.name;
        });
        if (textarea.val() !== '') {
            textarea.val(textarea.val()+names);
        } else {
            textarea.val(names.slice(1));
        }
    });

    function multi_job_post_func() {
        event.preventDefault();
        var a = new FormData($("#id_job_form")[0]);
        var files = $("input[name='myfiles']").prop('files');
        for(var x=0;x<files.length;x++) {
            a.append("files", files[x]);
        }
        a.append("html", true);

        // ajax call is used because of processData and contentType
        $.ajax({
            url: '',
            type: "POST",
            data: a,
            processData: false,
            contentType: false,
            success: function (data) {
                if (data.success) {
                    var dialog = $("#resultsModal .modal-body");
                    dialog.html(data.html);
                    $('#resultsModal').modal();
                } else {
                    $("#id_form_input").html(data.form_html);
                    var temp = $("div.has-error").get(0);
                    if (temp !== undefined) {
                        temp.scrollIntoView();
                    }
                }
            }
        });
    }
    $("#id_multi_job_post").click(multi_job_post_func);



});


{% endautoescape %}
</script>
{% endblock %}

{% block content %}
    <p>
        Filenames can be separated by newlines or by commas. File extensions do not matter because they will be stripped off before the job file is made. This method also allows generating jobs using brace expansions as seen in the <a href="{% url "docs" %}#brace-expansion">docs</a>.
    </p>
    {% if error_message %}
        <p><strong>{{ error_message }}</strong></p>
    {% endif %}
    <form enctype="multipart/form-data">
        <div class="form-group">
            <label class="control-label" for="id_myfiles">Upload Files</label>
            <input type="file" id="id_myfiles" name="myfiles" multiple />
        </div>
    </form>
    <form id="id_job_form" enctype="multipart/form-data" action="." method="get">
        {% csrf_token %}
        <div class="form-group">
            <label class="control-label" for="id_filenames">Filenames</label>
            <div class="">
                <textarea id="id_filenames" rows="26" cols="50" name="filenames" class=" form-control"></textarea>
            </div>
        </div>
        <div id="id_form_input">
            {{ form|crispy }}
        </div>
        <div class="row">
            <div class="col-xs-4">
                <button class="btn btn-lg btn-primary btn-block" type="submit">Build Jobs</button>
            </div>
            {% if user.is_authenticated %}
            <div class="col-xs-4">
                <button id="id_multi_job_post" class="btn btn-lg btn-primary btn-block">Submit Jobs</button>
            </div>
            {% endif %}
            <div class="col-xs-4">
                <button class="btn btn-lg btn-block" type="reset">Reset</button>
            </div>
        </div>
    </form>

<div class="modal fade" id="resultsModal" tabindex="-1" role="dialog" aria-labelledby="resultsModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Results</h4>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}