{% extends "chem/base.html" %}
{% load crispy_forms_tags %}

{% block title %}Report {{ molecule }}{% endblock %}

{% block content %}
    <h1>Report {{ molecule }}</h1>
    {% if error_message %}
        <div class="alert alert-danger">{{ error_message }}</div>
    {% endif %}
    <form action="." method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <div class="row">
            <div class="col-xs-6">
                <button class="btn btn-lg btn-primary btn-block" type="submit">Report</button>
            </div>
            <div class="col-xs-6">
                <button class="btn btn-lg btn-block" type="reset">Reset</button>
            </div>
        </div>
    </form>
{% endblock %}