{% extends "chem/base.html" %}

{% block title %}Upload{% endblock %}

{% block header %}
{{ block.super }}
<script>
{% autoescape on %}
function submitForm(name) {
    $("form input#id_molname").val(name);
    $("form#newform").submit();
}

$(function() {
    if ($("ul.errorlist").length == 0) {
        $(".hide").hide();
    }
    $("input[name=option]").change(function() {
        var hide = $(".hide")
        if ($("#id_jobs").is(':checked')) {
            hide.show("fast"); }
        else { hide.hide("fast"); }
        });
    }
)

{% endautoescape %}
</script>
{% endblock %}


{% block content %}
    {% if error_message %}
        <p><strong>{{ error_message }}</strong></p>
    {% endif %}
    <form enctype="multipart/form-data" action="." method="post">
        {% csrf_token %}
        <input type="file" name="myfiles" multiple />
        <ul>
            <li>
                <input type="radio" name="option" id="id_log" value="logparse" />
                <label for="id_log">Log Parse</label>
            </li>
            <li>
                <input type="radio" name="option" id="id_gjf_reset" value="gjfreset" />
                <label for="id_gjf_reset">Gjf Reset</label>
            </li>
            <li>
                <input type="radio" name="option" id="id_data" value="dataparse" />
                <label for="id_data">Data Parse</label>
            </li>
            <li>
                <input type="radio" name="option" id="id_jobs" value="jobs" />
                <label for="id_jobs" class="hide-title">Get Jobs</label>
            </li>
                <div class="hide">
                    <table>
                        {{ form.as_table }}
                        <tr>
                            <th></th>
                            <td>
                                <input type="checkbox" name="postjob" id="id_post" value="false" />
                                <label for="id_post">Post</label>
                            </tr>
                        </td>
                    </table>
                </div>
        </ul>
        <input type="submit" value="Submit" />
        <input type="reset" value="Reset" />
    </form>
    <p>
        Files may be uploaded in zipped format (.zip, .tar.gz, .tar.bz2) or individually.
    </p>
{% endblock %}