{% extends "chem/base.html" %}

{% block title %}Upload{% endblock %}

{% block content %}
    {% if error_message %}
        <div class="alert alert-danger">{{ error_message }}</div>
    {% endif %}
    <form enctype="multipart/form-data" role="form" action="." method="post">
        {% csrf_token %}
        <input type="file" name="myfiles" multiple />
        <div class="radio">
            <input type="radio" name="option" id="id_log" value="logparse" checked />
            <label for="id_log">Log Parse</label>
        </div>

        <div class="radio">
                <input type="radio" name="option" id="id_gjf_reset" value="gjfreset" />
                <label for="id_gjf_reset">Gjf Reset</label>

                <input type="checkbox" id="id_gjf_reset_td" name="reset_td" />
                <label for="id_gjf_reset_td">Reset as TD?</label>
        </div>
        <div class="radio">
            <input type="radio" name="option" id="id_data" value="dataparse" />
            <label for="id_data">Data Parse</label>
        </div>
        <input class="btn btn-primary" type="submit" value="Upload!" />
        <input class="btn" type="reset" value="Reset" />
    </form>
    <p>
        Files may be uploaded in zipped format (.zip, .tar.gz, .tar.bz2) or individually.
    </p>
{% endblock %}