{% extends "chem/base.html" %}
{% load crispy_forms_tags %}

{% block title %}Upload{% endblock %}

{% block script %}
<script>
{% autoescape on %}

$(function() {
    function post_func() {
        event.preventDefault();
        if (!$("#id_gjf_submit").is(':checked')) {
            $("#id_form").submit();
            return;
        }
        var a = new FormData($("#id_form")[0]);
        a.append("html", true);

        // ajax call is used because of processData and contentType
        $.ajax({
            url: '',
            type: "POST",
            data: a,
            processData: false,
            contentType: false,
            success: function (data) {
                if (data.success) {
                    var dialog = $("#resultsModal .modal-body");
                    dialog.html(data.html);
                    $('#resultsModal').modal();
                } else {
                    $("#id_upload_form").html(data.upload_form_html);
                    $("#id_job_form").html(data.job_form_html);
                    var temp = $("div.has-error").get(0);
                    if (temp !== undefined) {
                        temp.scrollIntoView();
                    }
                }
            }
        });
    }
    $("#id_submit").click(post_func);

    $("input[name='options']").change(function () {
        if (!$("input[value='gjfreset']").is(':checked')) {
            if ($("#id_gjf_submit").is(':checked')) {
                $("#id_gjf_submit").trigger('click');
            }
            if ($("#id_td_reset").is(':checked')) {
                $("#id_td_reset").trigger('click');
            }
        }
    });
    $("#id_td_reset").change(function () {
        if ($(this).is(':checked')) {
            $("input[value='gjfreset']").prop('checked', true);
        }
    });
    $("#id_gjf_submit").change(function () {
        if ($(this).is(':checked')) {
            $("input[value='gjfreset']").prop('checked', true);
            $("#details").collapse('show');
        } else {
            $("#details").collapse('hide');
        }
    });
});
{% endautoescape %}
</script>
{% endblock %}

{% block content %}

{% if error %}
<p id="error_1_id_something" class="help-block"><strong>{{ error }}</strong></p>
{% endif %}

    <form multiple enctype="multipart/form-data" id="id_form" role="form" action="." method="post">
        {% csrf_token %}
        <div id="id_upload_form">
            {% crispy upload_form %}
        </div>
        <div id="details" class="{% if form.errors %}in{% else %}collapse{% endif %}">
            <div id="id_job_form">
                {% crispy job_form %}
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6">
                <button class="btn btn-lg btn-primary btn-block" id="id_submit" type="submit">Upload!</button>
            </div>
            <div class="col-xs-6">
                <button class="btn btn-lg btn-block" type="reset">Reset</button>
            </div>
        </div>
    </form>
    <p>
        Files may be uploaded in zipped format (.zip, .tar.gz, .tar.bz2) or individually.
    </p>


<div class="modal fade" id="resultsModal" tabindex="-1" role="dialog" aria-labelledby="resultsModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Results</h4>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}