{% extends "account/base.html" %}

{% block header %}
    <h1>Login</h1>
{% endblock %}

{% block content %}
<h3>{{ state }}</h3>
<form action='' method="post">
    {% csrf_token %}
    <table>
        <tr>
            <th><label for="id_username">Username:</label></th>
            <td><input id="id_username" type="text" name="username" value="{{ username }}" /></td>
        </tr>
        <tr>
            <th><label for="id_password">Password:</label></th>
            <td><input id="id_password" type="password" name="password" value="" /></td>
        </tr>
        <tr>
            <th></th>
            <td><input type="submit" value="Log In" /></td>
        </tr>
    </table>
    <input type="hidden" name="next" value="{{ next }}" />
</form>
{% endblock %}