{% extends "base.html" %}
{% load bootstrap %}

{% block header %}<h1>Setting New password</h1>{% endblock %}

{% block content %}
    {% if validlink %}
        <p>Please enter your new password twice.<br />
           So we can verify you typed it in correctly.</p>
        <form action="" method="post">
            {% csrf_token %}
            {{ form|bootstrap }}
            <div class="row">
                <div class="col-xs-4">
                    <button class="btn btn-lg btn-primary btn-block" type="submit">Change my Password</button>
                </div>
            </div>
        </form>
    {% else %}
        <h1>Password reset unsuccessful</h1>
        <p>The password reset link was invalid, <br />
        possibly because it has already been used. <br />
        Please request a new password reset.</p>
    {% endif %}
{% endblock %}