{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Reset Password{% endblock %}

{% block header %}<h1>Reset Password</h1>{% endblock %}

{% block content %}
<p>Please specify the email address you registered with your account to receive instructions for resetting your password.</p>

<form action="." method="post">
    {% csrf_token %}
	{{ form | crispy }}
    <div class="row">
        <div class="col-xs-12">
            <button class="btn btn-lg btn-primary btn-block" type="submit">Reset Password</button>
        </div>
    </div>
</form>
{% endblock %}