{% extends "account/base.html" %}
{% load bootstrap %}

{% block title %}Register{% endblock %}

{% block content %}
<h3>{{ state }}</h3>
<form action='' method="post">
    {% csrf_token %}
    {{ reg_form|bootstrap }}
    {{ pass_form|bootstrap }}
    <div class="row">
        <div class="col-xs-4">
            <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
        </div>
        <div class="col-xs-4">
            <button class="btn btn-lg btn-block" type="reset">Reset</button>
        </div>
    </div>
</form>
{% endblock %}