{% extends "base.html" %}

{% block header %}
    <h1>Settings</h1>
<script>
function fetchKeys(){
$.getJSON('/account/genkey/', function(data) {
    $('#id_public_key').val(data['public']);
    $('#id_private_key').val(data['private']);
});
}
</script>
{% endblock %}

{% block content %}

<h3>{{ state }}</h3>
<form action='' method="post">
    {% csrf_token %}
    <table>
        {{ form.as_table }}
    <tr>
        <th></th>
        <td>
            <input type="button" value="Generate Keys" onClick="fetchKeys()"/>
        </td>
    </tr>
    </table>
    <input type="submit" value="Submit" />
    <input type="reset" value="Reset" />
</form>
{% endblock %}



{% block footer %}
    Note that all of the information here is very alpha. Use at your own risk.
{% endblock %}